@import "../styles/_config.scss";
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap");

.day-mode {
  background-color: rgba(170, 166, 157, 1);
  .themeChanger {
    background-color: get-color(bg-light);
    box-shadow: get-decoration(box-shadow);
    border: get-decoration(border);
    border-radius: get-decoration(border-radius);
    &::before {
      color: get-color(bg-light);
    }
    &::after {
      color: get-color(bg-dark);
    }
    button {
      background-color: get-color(bg-light);
    }
    .themeChangerButton {
      transition: transform 0.8s ease-in-out;
      left: 13px;
    }
  }
  .navbar {
    a {
      color: get-color(default-light-color);
      background: linear-gradient(
          to top,
          get-color(default-light-color) 0%,
          get-color(default-light-color) 4px,
          transparent 5px
        )
        no-repeat;
      background-size: 0 85%;
      transition: background-size 0.3s;
      animation: none;
      &:hover {
        color: get-color(default-light-color);
      }
    }
  }

  .mainContent {
    .centerTitle {
      h1,
      p {
        color: get-color(default-light-color);
      }
    }
    .moveIcon {
      height: 60px;
      width: 60px;
      transition: 0.3s ease-in-out;
      margin-left: 15px;
    }
    .presentation {
      h1 {
        color: get-color(bg-dark);
      }
    }
  }

  // Reponsive design start here
  // Responsive for small screen

  @media screen and (max-width: 679px) {
    .navbar {
      .navbar-right {
        a {
          color: get-color(default-color);
        }
      }
    }
  }
}
