// General style for all pages
@import "../styles/_config.scss";
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap");

* {
  font-family: "Jost", sans-serif;
  color: get-color(fontColor);
  html,
  body {
    background-color: get-color(bg-dark);
    margin: 0;
  }
}

button {
  padding-top: 4px;
  padding-bottom: 4px;
  background: get-color(bg-button);
  box-shadow: get-decoration(shadow-box);
  border-radius: get-decoration(border-radius);
  overflow: hidden;
  border: get-decoration(border);
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
  cursor: pointer;
}

.stars-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: -1;
  #starsCanvas {
    width: 100vw;
    height: 100%;
  }
}

.navbar {
  display: flex;
  margin: 1vw 3vw 0 2vw;
  justify-content: flex-start;
  p {
    margin-left: 10px;
    padding: 5px;
    background-color: red;
    border-radius: get-decoration(border-radius)-5px;
    box-shadow: get-decoration(shadow-box);
  }
  .navbar-left {
    display: flex;
  }
  .navbar-right {
    display: flex;
    margin-left: auto;
    gap: 3vw;
  }
  .icon {
    height: 50px;
    width: 50px;
    box-shadow: get-decoration(shadow-box);
  }
  a {
    color: get-color(default-color);
    font-size: 25px;
    text-decoration: none;
    background: linear-gradient(
        to top,
        get-color(default-color) 0%,
        get-color(fontColor) 4px,
        transparent 5px
      )
      no-repeat;
    background-size: 0 65%;
    transition: background-size 0.3s;
    animation: shine 2s linear infinite reverse;
    &:hover {
      animation: none;
      color: white;
      background-size: 100% 65%;
      transition: 0.3s;
    }
  }
}

.mainContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .social {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 25px;
    left: 0;
    gap: 15px;
    margin-left: 10px;

    a {
      height: 50px;
      width: 50px;
    }

    svg {
      height: 50px;
      width: 50px;
      transition: 0.3s ease-in-out;
    }

    .moveIcon {
      height: 60px;
      width: 60px;
      transition: 0.3s ease-in-out;
      margin-left: 15px;
    }
  }
}

// Reponsive design start here

//Responsive for large screen
@media screen and (max-width: 1320px) and (min-width: 992px) {
  button {
    box-shadow: get-decoration(shadow-box);
    border: get-decoration(border);
  }
  .navbar {
    p {
      font-size: medium;
      max-width: 55vw;
    }
  }
  .social {
    position: absolute;
    right: 10px;
    bottom: 20px;
  }
}

// Responsive for medium screen
@media screen and (max-width: 992px) and (min-width: 680px) {
  button {
    box-shadow: get-decoration(shadow-box);
    border: get-decoration(border);
  }
  .navbar {
    p {
      position: absolute;
      font-size: medium;
      max-width: 85vh;
      top: 6vh;
    }
  }
  .mainContent {
    .social {
      flex-direction: row;
    }
  }
}

// Responsive for small screen

@media screen and (max-width: 679px) {
  button {
    box-shadow: get-decoration(shadow-box);
    border: get-decoration(border);
  }
  .navbar {
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    p {
      display: none;
    }
    .navbar-left {
      display: none;
    }
    .icon {
      display: none;
    }
    .navbar-right {
      display: flex;
      flex-direction: column;
      flex: 1;
      a {
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 4px;
        padding-right: 4px;
        background: rgba(89, 89, 89, 0.05);
        box-shadow: get-decoration(shadow-box);
        border: get-decoration(border);
        justify-content: center;
        display: inline-flex;
        padding: 5px;
        font-size: 25px;
        border-radius: 10px;
      }
    }
  }

  .mainContent {
    .social {
      flex-direction: row;
      position: absolute;
      right: 10px;
      bottom: 0;
    }
  }
  .social {
    svg {
      fill: white;
      box-shadow: get-decoration(shadow-box);
      border: get-decoration(border);
      border-radius: 50%;
      height: 50px;
      width: 50px;
      transition: 0.3s ease-in-out;
    }
  }
}
