@import "../styles/_globalStyle.scss";

.tarifsContact {
  display: flex;
  justify-content: center;
  align-items: center;
  .tarification,
  .contact {
    background-color: get-color(bg-card);
    height: 35vw;
    width: 35vw;
    margin: 1vw;
    border: get-decoration(border);
    box-shadow: get-decoration(shadow-box);
    border-radius: get-decoration(border-radius);
    font-size: large;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1vw;
  }
  .tarification {
    &:first-child {
      text-align: center;
    }
    * > :not(footer) {
      color: get-color(default-color);
      flex: auto;
      margin-bottom: 2vw;
    }
    #tarifs,
    #services {
      border: get-decoration(border);
      box-shadow: get-decoration(small-shadow-box);
      border-radius: get-decoration(border-radius);
    }
    h1 {
      margin-top: 1vw;
    }
    .tarifsHoraires {
      font-weight: 700;
    }
    .services {
      text-decoration: underline;
    }
    ul {
      list-style: none;
    }

    footer {
      margin-top: auto;
      position: relative;
      bottom: 0;
      p {
        font-size: small;
      }
    }
  }
  .contact {
    .contactInput {
      color: white;
      font-size: 18px;
      border-radius: get-decoration(border-radius);
      line-height: 22px;
      background-color: get-color(bg-card);
      border: get-decoration(border);
      box-shadow: get-decoration(shadow-box);
      padding: 13px;
      width: 100%;
      margin-bottom: 1vw;
      box-sizing: border-box;
      outline: 0;
    }

    .contactInput:focus {
      border: get-decoration(white-border);
    }

    textarea {
      height: 50%;
      line-height: 150%;
      resize: vertical;
    }

    [type="submit"] {
      width: 100%;
      background: get-color(bg-card);
      box-shadow: get-decoration(shadow-box);
      border-radius: 5px;
      border: 0;
      cursor: pointer;
      color: white;
      font-size: 24px;
      padding-top: 10px;
      padding-bottom: 10px;
      transition: all 0.3s;
    }
    [type="submit"]:hover {
      background: #cc4949;
    }
  }
}

//responsive

// Responsive for medium device

@media screen and (max-width: 1320px) and (min-width: 678px) {
  .tarifsContact {
    flex-direction: column;
    .tarification,
    .contact {
      background-color: get-color(bg-card);
      height: 100%;
      width: 90%;
    }
  }
  .mainContent {
    .social {
      position: static;
    }
  }
}

//responsive for small screen

@media screen and (max-width: 679px) {
  .tarifsContact {
    flex-direction: column;
    .tarification,
    .contact {
      margin: 15px 0 15px 0;
      background-color: get-color(bg-card);
      box-shadow: get-decoration(small-shadow-box);
      height: 100%;
      width: 90%;
      margin-top: 10vw;
      #tarifs,
      #services {
        margin-bottom: 10vw;
        background-color: get-color(bg-button);
        p {
          margin: 5vw;
        }
        li {
          margin: 5vw 5vw 5vw 0;
        }
      }
      .contactInput {
        background-color: get-color(bg-button);
      }
    }
  }
  .mainContent {
    .social {
      position: static;
    }
  }
}
