@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap");
@keyframes shine {
  0% {
    color: #c1c1c1;
  }
  50% {
    color: white;
  }
  100% {
    color: #c1c1c1;
  }
}
@keyframes floatAndPulseButton {
  0% {
    transform: scale(1);
    box-shadow: 0px 1px 9px 5px rgba(0, 0, 0, 0.25);
  }
  50% {
    transform: scale(1.02);
    box-shadow: 0px 1px 9px 5px rgba(0, 0, 0, 0.5);
  }
  100% {
    transform: scale(1);
    box-shadow: 0px 1px 9px 5px rgba(0, 0, 0, 0.25);
  }
}
@keyframes floatAnimation {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(7px);
  }
  100% {
    transform: translateX(15px);
  }
}
@keyframes shine {
  0% {
    color: #c1c1c1;
  }
  50% {
    color: white;
  }
  100% {
    color: #c1c1c1;
  }
}
@keyframes floatAndPulseButton {
  0% {
    transform: scale(1);
    box-shadow: 0px 1px 9px 5px rgba(0, 0, 0, 0.25);
  }
  50% {
    transform: scale(1.02);
    box-shadow: 0px 1px 9px 5px rgba(0, 0, 0, 0.5);
  }
  100% {
    transform: scale(1);
    box-shadow: 0px 1px 9px 5px rgba(0, 0, 0, 0.25);
  }
}
@keyframes floatAnimation {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(7px);
  }
  100% {
    transform: translateX(15px);
  }
}
.day-mode {
  background-color: rgb(170, 166, 157);
}
.day-mode .themeChanger {
  background-color: rgb(200, 200, 200);
  border: 0.5px rgba(0, 0, 0, 0.2) solid;
  border-radius: 10px;
}
.day-mode .themeChanger::before {
  color: rgb(200, 200, 200);
}
.day-mode .themeChanger::after {
  color: rgb(25, 25, 25);
}
.day-mode .themeChanger button {
  background-color: rgb(200, 200, 200);
}
.day-mode .themeChanger .themeChangerButton {
  left: 10px;
  background-color: rgb(25, 25, 25);
}
.day-mode .navbar a {
  color: rgb(25, 25, 25);
  background: linear-gradient(to top, rgb(25, 25, 25) 0%, rgb(25, 25, 25) 4px, transparent 5px) no-repeat;
  background-size: 0 85%;
  transition: background-size 0.3s;
  animation: none;
}
.day-mode .navbar a:hover {
  color: rgb(25, 25, 25);
}
.day-mode .mainContent .centerTitle h1, .day-mode .mainContent .centerTitle p {
  color: rgb(25, 25, 25);
}
.day-mode .mainContent .moveIcon {
  height: 60px;
  width: 60px;
  transition: 0.3s ease-in-out;
  margin-left: 15px;
}
@media screen and (max-width: 679px) {
  .day-mode .navbar .navbar-right a {
    color: rgb(255, 255, 255);
  }
}

* {
  font-family: "Jost", sans-serif;
  color: rgb(193, 193, 193);
}
* html,
* body {
  background-color: rgb(25, 25, 25);
  margin: 0;
}

.cookie-banner {
  display: none;
  position: absolute;
  top: 10px;
  background-color: rgb(45, 45, 45);
  border: 0.5px rgba(0, 0, 0, 0.2) solid;
  border-radius: 10px;
  box-shadow: 0px 1px 9px 5px rgba(0, 0, 0, 0.25);
  left: 50%;
  transform: translate(-50%);
  padding: 0 10px 5px 10px;
  z-index: 2;
}

.sun {
  background-color: transparent;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: -1;
}

.themeChanger {
  display: flex;
  align-items: center;
  margin-left: 1vw;
  height: 35px;
  width: 150px;
  margin-top: 5px;
  background-color: rgb(200, 200, 200);
  border: 0.5px rgba(0, 0, 0, 0.2) solid;
  border-radius: 10px;
  padding: 5px;
  position: relative;
}
.themeChanger::before {
  content: "☼";
  position: absolute;
  left: 22px;
  color: rgb(25, 25, 25);
  z-index: 1;
}
.themeChanger::after {
  content: "☾";
  position: absolute;
  right: 26px;
  color: rgb(200, 200, 200);
  z-index: 1;
}
.themeChanger button {
  background-color: rgb(200, 200, 200);
  box-shadow: none;
  border-radius: none;
  border: none;
  height: 100%;
  width: 150px;
}
.themeChanger .themeChangerButton {
  position: absolute;
  right: 10px;
  background-color: rgb(25, 25, 25);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  transition: left 0.8s ease-in-out;
}

button {
  padding-top: 4px;
  padding-bottom: 4px;
  background: rgb(25, 25, 25);
  box-shadow: 0px 1px 9px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  overflow: hidden;
  border: 0.5px rgba(0, 0, 0, 0.2) solid;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  cursor: pointer;
}

.stars-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: -1;
}
.stars-container #starsCanvas {
  width: 100vw;
  height: 100%;
}

.navbar {
  display: flex;
  margin: 1vw 3vw 0 2vw;
  justify-content: flex-start;
}
.navbar .navbar-left {
  display: flex;
}
.navbar .navbar-right {
  display: flex;
  margin-left: auto;
  gap: 3vw;
}
.navbar .icon {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  box-shadow: 0px 1px 9px 5px rgba(0, 0, 0, 0.25);
}
.navbar a {
  color: rgb(255, 255, 255);
  font-size: 25px;
  text-decoration: none;
  background: linear-gradient(to top, rgb(255, 255, 255) 0%, rgb(193, 193, 193) 4px, transparent 5px) no-repeat;
  background-size: 0 85%;
  transition: background-size 0.3s;
  animation: shine 2s linear infinite reverse;
}
.navbar a:hover {
  animation: none;
  color: white;
  background-size: 100% 85%;
  transition: 0.3s;
}

.mainContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mainContent .social {
  z-index: -1;
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 25px;
  gap: 15px;
  left: 1vh;
  bottom: 1vw;
}
.mainContent .social a {
  height: 50px;
  width: 50px;
}
.mainContent .social svg {
  fill: rgb(255, 255, 255);
  height: 50px;
  width: 50px;
  transition: 0.3s ease-in-out;
}
.mainContent .social .moveIcon {
  height: 60px;
  width: 60px;
  transition: 0.3s ease-in-out;
  margin-left: 15px;
}

@media screen and (max-width: 1320px) and (min-width: 992px) {
  button {
    box-shadow: 0px 1px 9px 5px rgba(0, 0, 0, 0.25);
    border: 0.5px rgba(0, 0, 0, 0.2) solid;
  }
  .navbar p {
    font-size: medium;
    max-width: 55vw;
  }
}
@media screen and (max-width: 992px) and (min-width: 680px) {
  button {
    box-shadow: 0px 1px 9px 5px rgba(0, 0, 0, 0.25);
    border: 0.5px rgba(0, 0, 0, 0.2) solid;
  }
  .navbar p {
    position: absolute;
    font-size: medium;
    max-width: 85vh;
    top: 6vh;
  }
}
@media screen and (max-width: 679px) {
  button {
    box-shadow: 0px 1px 9px 5px rgba(0, 0, 0, 0.25);
    border: 0.5px rgba(0, 0, 0, 0.2) solid;
  }
  .navbar {
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
  }
  .navbar p {
    display: none;
  }
  .navbar .navbar-left {
    display: none;
  }
  .navbar .icon {
    display: none;
  }
  .navbar .navbar-right {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  .navbar .navbar-right a {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    background: rgb(25, 25, 25);
    box-shadow: 0px 1px 9px 5px rgba(0, 0, 0, 0.25);
    border: 0.5px rgba(0, 0, 0, 0.2) solid;
    justify-content: center;
    display: inline-flex;
    padding: 5px;
    font-size: 25px;
    border-radius: 10px;
  }
  .mainContent .social {
    flex-direction: row;
  }
}
.tarifsContact {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tarifsContact .tarification,
.tarifsContact .contact {
  background-color: rgb(25, 25, 25);
  height: 35vw;
  width: 35vw;
  margin: 1vw;
  border: 0.5px rgba(0, 0, 0, 0.2) solid;
  box-shadow: 0px 1px 9px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-size: large;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1vw;
}
.tarifsContact .tarification:first-child {
  text-align: center;
}
.tarifsContact .tarification * > :not(footer) {
  color: rgb(255, 255, 255);
  flex: auto;
  margin-bottom: 2vw;
}
.tarifsContact .tarification #tarifs,
.tarifsContact .tarification #services {
  border: 0.5px rgba(0, 0, 0, 0.2) solid;
  box-shadow: 0px 1px 5px 5px rgba(15, 15, 15, 0.25);
  border-radius: 10px;
}
.tarifsContact .tarification h1 {
  margin-top: 1vw;
}
.tarifsContact .tarification .tarifsHoraires {
  font-weight: 700;
}
.tarifsContact .tarification .services {
  text-decoration: underline;
}
.tarifsContact .tarification ul {
  list-style: none;
}
.tarifsContact .tarification footer {
  margin-top: auto;
  position: relative;
  bottom: 0;
}
.tarifsContact .tarification footer p {
  font-size: small;
}
.tarifsContact .contact .contactInput {
  color: white;
  font-size: 18px;
  border-radius: 10px;
  line-height: 22px;
  background-color: rgb(25, 25, 25);
  border: 0.5px rgba(0, 0, 0, 0.2) solid;
  box-shadow: 0px 1px 9px 5px rgba(0, 0, 0, 0.25);
  padding: 13px;
  width: 100%;
  margin-bottom: 1vw;
  box-sizing: border-box;
  outline: 0;
}
.tarifsContact .contact .contactInput:focus {
  border: 0.5px rgba(255, 255, 255, 0.25) solid;
}
.tarifsContact .contact textarea {
  height: 50%;
  line-height: 150%;
  resize: vertical;
}
.tarifsContact .contact [type=submit] {
  width: 100%;
  background: rgb(45, 45, 45);
  box-shadow: 0px 1px 9px 5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
}
.tarifsContact .contact [type=submit]:hover {
  background: #cc4949;
}

@media screen and (max-width: 1320px) and (min-width: 678px) {
  .tarifsContact {
    flex-direction: column;
  }
  .tarifsContact .tarification,
  .tarifsContact .contact {
    background-color: rgb(25, 25, 25);
    height: 100%;
    width: 90%;
  }
  .mainContent .social {
    position: static;
  }
}
@media screen and (max-width: 679px) {
  .tarifsContact {
    flex-direction: column;
  }
  .tarifsContact .tarification,
  .tarifsContact .contact {
    margin: 15px 0 15px 0;
    background-color: rgb(45, 45, 45);
    box-shadow: 0px 1px 5px 5px rgba(15, 15, 15, 0.25);
    height: 100%;
    width: 90%;
  }
  .tarifsContact .tarification #tarifs,
  .tarifsContact .tarification #services,
  .tarifsContact .contact #tarifs,
  .tarifsContact .contact #services {
    background-color: rgb(25, 25, 25);
  }
  .mainContent .social {
    position: static;
  }
}/*# sourceMappingURL=contact.css.map */