@keyframes slidein {
  0% {
    top: -50vh;
    opacity: 0;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}
@keyframes slideout {
  0% {
    top: 0;
    opacity: 1;
  }
  100% {
    top: -50vh;
    opacity: 0;
  }
}
#carousel {
  display: flex;
  align-items: center;
  width: 100vh;
  height: 50vh;
  position: absolute;
  top: 15vh;
  left: 50%;
  transform: translate(-50%);
  background-color: rgb(34, 34, 34);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 1px 9px 5px rgba(0, 0, 0, 0.25);
}
#carousel #left-zone {
  background: rgb(34, 34, 34);
  height: 75%;
  flex-grow: 0;
  display: flex;
  width: 35vh;
  align-items: center;
  justify-content: left;
  border-radius: 10px;
  box-shadow: 0px 1px 9px 5px rgba(0, 0, 0, 0.25);
  margin-left: 2vh;
}
#carousel #left-zone .list {
  display: flex;
  list-style: none;
  align-content: stretch;
  flex-direction: column;
  flex-grow: 1;
  margin: 0;
  padding: 0;
}
#carousel #left-zone .list li.item input[type=radio] {
  display: none;
}
#carousel #left-zone .list li.item input[type=radio] ~ label {
  display: block;
  opacity: 0.5;
  height: 50px;
  text-align: center;
  line-height: 50px;
}
#carousel #left-zone .list li.item input[type=radio] ~ label:first-letter {
  text-transform: uppercase;
}
#carousel #left-zone .list li.item input[type=radio] ~ label:hover {
  opacity: 0.75;
  cursor: pointer;
}
#carousel #left-zone .list li.item input[type=radio] ~ .content {
  position: absolute;
  left: 35vh;
  top: -50vh;
  width: 65vh;
  height: 50vh;
  animation-duration: 0.75s;
  animation-name: slideout;
  animation-timing-function: ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#carousel #left-zone .list li.item input[type=radio] ~ .content.content_creation1 .picto {
  height: 90%;
  width: 90%;
  background-image: url("../assets/images/example_01.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  box-shadow: 0px 1px 9px 5px rgba(0, 0, 0, 0.25);
}
#carousel #left-zone .list li.item input[type=radio] ~ .content.content_creation2 .picto {
  height: 90%;
  width: 90%;
  background-image: url("../assets/images/Not_finished.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  box-shadow: 0px 1px 9px 5px rgba(0, 0, 0, 0.25);
}
#carousel #left-zone .list li.item input[type=radio] ~ .content.content_creation3 .picto {
  height: 90%;
  width: 90%;
  background-image: url("../assets/images/Not_finished.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  box-shadow: 0px 1px 9px 5px rgba(0, 0, 0, 0.25);
}
#carousel #left-zone .list li.item input[type=radio] ~ .content.content_creation4 .picto {
  height: 90%;
  width: 90%;
  background-image: url("../assets/images/Not_finished.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  box-shadow: 0px 1px 9px 5px rgba(0, 0, 0, 0.25);
}
#carousel #left-zone .list li.item input[type=radio]:checked ~ label {
  opacity: 1;
  animation: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
#carousel #left-zone .list li.item input[type=radio]:checked ~ label.label_creation1 {
  color: #d64541;
  border-right: solid 4px #d64541;
}
#carousel #left-zone .list li.item input[type=radio]:checked ~ label.label_creation2 {
  color: #f5d76e;
  border-right: solid 4px #f5d76e;
}
#carousel #left-zone .list li.item input[type=radio]:checked ~ label.label_creation3 {
  color: #00b16a;
  border-right: solid 4px #00b16a;
}
#carousel #left-zone .list li.item input[type=radio]:checked ~ label.label_creation4 {
  color: #f27935;
  border-right: solid 4px #f27935;
}
#carousel #left-zone .list li.item input[type=radio]:checked ~ .content {
  animation-duration: 0.75s;
  animation-name: slidein;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

#individual-creation {
  width: 100vh;
  height: 50vh;
  position: relative;
  flex-direction: column;
  top: 65vh;
  left: 50%;
  bottom: 150px;
  margin-bottom: 150px;
  transform: translate(-50%);
  background-color: rgb(34, 34, 34);
  box-shadow: 0px 1px 9px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  justify-content: center;
}
#individual-creation h1 {
  align-self: center;
}
#individual-creation .list-individuals {
  position: relative;
  margin: auto;
  width: 90vh;
  height: 40vh;
  background-color: rgb(34, 34, 34);
  box-shadow: 0px 1px 9px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}/*# sourceMappingURL=creation.css.map */