$menu-width: 45vh;
$scene-width: 60vw;
$scene-height: 25vw;

$sections: creation1, creation2, creation3, creation4;

$colors: (
  creation1: #d64541,
  creation2: #f5d76e,
  creation3: #00b16a,
  creation4: #f27935,
  default-color: rgb(255, 255, 255),
  bg-dark: rgb(34, 34, 34),
  shadow-box: 0px 1px 9px 5px rgba(0, 0, 0, 0.25),
);

$decoration: (
  border: 10px,
  default-decoration: 10px,
);

$pictograms: (
  creation1: url("../assets/images/example_01.jpg"),
  default-picto: url("../assets/images/Not_finished.jpg"),
);

@function get-color($color-name) {
  @if map-has-key($colors, $color-name) {
    @return map-get($colors, $color-name);
  } @else {
    @return map-get($colors, default-color);
  }
}

@function get-decoration($decoration-name) {
  @if map-has-key($decoration, $decoration-name) {
    @return map-get($decoration, $decoration-name);
  } @else {
    @return map-get($decoration, default-decoration);
  }
}

@function get-picto-url($picto-name) {
  @if map-has-key($pictograms, $picto-name) {
    @return map-get($pictograms, $picto-name);
  } @else {
    @return map-get($pictograms, default-picto);
  }
}

@keyframes slidein {
  0% {
    top: -$scene-height;
    opacity: 0;
  }

  100% {
    opacity: 1;
    top: 0px;
  }
}

@keyframes slideout {
  0% {
    top: 0;
    opacity: 1;
  }

  100% {
    top: -$scene-height;
    opacity: 0;
  }
}

@mixin circle($i) {
  border-radius: 100%;
  height: $i;
  width: $i;
}

$bgBlue: #001d38;
$cardBlue: #0a2640;
$font: "Poppins";

html,
body {
  height: 100%;
}

body {
  background: $bgBlue;
  font-family: $font, sans-serif;
  overflow: hidden;
}

.center {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.wrapper {
  display: flex;
  grid-gap: 1em;
  overflow: hidden;
  width: 55em;

  & > .inner {
    display: flex;
    grid-gap: 1em;
    transition: all 1s ease-in-out;
  }
}

.card {
  border-radius: 0.5em;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);

  & > img {
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
    display: block;
    width: 17.5em;
  }

  & > .content {
    background: $cardBlue;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    padding: 1em;
    text-align: center;

    & > h1,
    & > h3 {
      margin: 0.35em 0;
    }

    & > h1 {
      color: #fff;
      font-size: 1.25rem;
      line-height: 1;
    }

    & > h3 {
      color: #ccc;
      font-size: 0.9rem;
      font-weight: 300;
    }
  }
}

.map {
  margin-top: 1em;
  & > button {
    all: unset;
    background: lighten($cardBlue, 10);
    cursor: pointer;
    margin: 0 0.125em;
    position: relative;
    user-select: none;
    @include circle(1em);

    &.active {
      &:after {
        background: $bgBlue;
        content: "";
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        @include circle(0.5em);
      }
    }
  }
}

#individual-creation {
  width: $scene-width;
  height: $scene-height;
  // position: relative;
  flex-direction: column;
  // top: 65vh;
  // left: 50%;
  // bottom: 150px;
  margin-bottom: 150px;
  transform: translate(-50%);
  background-color: get-color(bg-dark);
  box-shadow: get-color(shadow-box);
  border-radius: get-decoration(border);
  display: flex;
  justify-content: center;
  h1 {
    align-self: center;
  }
  .list-individuals {
    position: relative;
    margin: auto;
    width: 90vh;
    height: 40vh;
    background-color: get-color(bg-dark);
    box-shadow: get-color(shadow-box);
    border-radius: get-decoration(border);
  }
}
