@import "../styles/_globalStyle.scss";

$primary-color: #fff;
$background-color: linear-gradient(54deg, #9164ff, #8bfff4);
$text-color: #3c3f64;

body {
  overflow-x: hidden;
  padding-bottom: 50px;
}

// STYLING
.timeline {
  ul {
    li {
      list-style-type: none;
      position: relative;
      width: 5px;
      margin: 0 auto;
      padding-top: 50px;
      background: get-color(default-color);
      &::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%) rotate(45deg);
        width: 20px;
        height: 20px;
        z-index: 2;
        background: get-color(default-color);
      }
      .cardBox {
        position: relative;
        bottom: 0;
        width: 20vw;
        padding: 15px;
        background: get-color(bg-card);
        box-shadow: get-decoration(shadow-box);
        border-radius: get-decoration(border-radius);
        display: flex;
        align-items: center;
        #boxInCard {
          height: 80%;
          display: flex;
          box-shadow: get-decoration(shadow-box);
          border-radius: get-decoration(border-radius);
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 2%;
          p {
            text-align: center;
          }
          a,
          button {
            height: 100%;
            width: 100%;
          }
        }
        .discovery {
          margin-right: 10px;
        }
      }
      &:nth-of-type(odd) {
        > .cardBox {
          left: 45px;
        }
      }
      &:nth-of-type(even) {
        > .cardBox {
          left: -439px;
        }
      }
    }
  }
}

// ANIMATION
.timeline {
  ul {
    li {
      .cardBox {
        visibility: hidden;
        opacity: 0;
        transition: all 0.5s ease-in-out;
      }
      &:nth-of-type(odd) {
        .cardBox {
          transform: translate3d(100px, -10px, 0) rotate(10deg);
        }
      }
      &:nth-of-type(even) {
        .cardBox {
          transform: translate3d(-100px, -10px, 0) rotate(10deg);
        }
      }
      &.in-view {
        .cardBox {
          transform: none;
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
}

//Responsive for medium screen
@media screen and (max-width: 992px) and (min-width: 680px) {
  .navbar {
    p {
      z-index: 1;
    }
  }
  .mainContent {
    .social {
      position: static;
      svg {
        fill: get-color(default-color);
      }
    }
  }
  .timeline {
    ul {
      margin-top: 5vw;
      li {
        .cardBox {
          width: 40vw;
          flex-direction: column;
          .boxInCard {
            width: 80%;
            margin: 10px;
          }
        }
        &:nth-of-type(odd) {
          > .cardBox {
            left: 2vw;
          }
        }
        &:nth-of-type(even) {
          > .cardBox {
            left: -50vw;
            margin-right: 5vw;
          }
        }
      }
    }
  }
  .timeline {
    ul {
      li {
        .cardBox {
          visibility: hidden;
          opacity: 0;
          transition: all 0.5s ease-in-out;
        }
        &:nth-of-type(odd) {
          .cardBox {
            transform: translate3d(0, 0, 0) rotate(10deg);
          }
        }
        &:nth-of-type(even) {
          .cardBox {
            transform: translate3d(0, 0, 0) rotate(10deg);
          }
        }
        &.in-view {
          .cardBox {
            transform: none;
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }
  }
}

//Responsive for small screen
@media screen and (max-width: 679px) {
  .mainContent {
    .timeline {
      ul {
        li {
          &::after {
            z-index: 0;
          }
          .cardBox {
            width: 80vw;
            z-index: 1;
            .boxInCard {
              width: 90%;
              margin: 5px;
            }
          }
          &:nth-of-type(odd) {
            > .cardBox {
              left: 50%;
              transform: translate(-55%);
            }
          }
          &:nth-of-type(even) {
            > .cardBox {
              left: 50%;
              transform: translate(-55%);
            }
          }
        }
      }
    }
    .social {
      position: sticky;
    }
  }
  .timeline {
    ul {
      li {
        .cardBox {
          visibility: hidden;
          opacity: 0;
          transition: all 0.5s ease-in-out;
        }
        &:nth-of-type(odd) {
          .cardBox {
            transform: translate3d(0, 0, 0) rotate(10deg);
          }
        }
        &:nth-of-type(even) {
          .cardBox {
            transform: translate3d(0, 0, 0) rotate(10deg);
          }
        }
        &.in-view {
          .cardBox {
            transform: none;
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }
  }
}
