// General style for all pages

@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap");

* {
  font-family: "Jost", sans-serif;
  color: white;
  html,
  body {
    background-color: #1f2022;
    margin: 0;
  }
}

// Animation for shine navBar
@keyframes shine {
  0% {
    color: #c1c1c1;
  }
  50% {
    color: white;
  }
  100% {
    color: #c1c1c1;
  }
}

@keyframes floatAndPulseButton {
  0% {
    transform: scale(1);
    box-shadow: 0px 1px 9px 5px rgba(0, 0, 0, 0.25);
  }
  50% {
    transform: scale(1.02);
    box-shadow: 0px 1px 9px 5px rgba(0, 0, 0, 0.5);
  }
  100% {
    transform: scale(1);
    box-shadow: 0px 1px 9px 5px rgba(0, 0, 0, 0.25);
  }
}

@keyframes floatAnimation {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(7px);
  }
  100% {
    transform: translateX(15px);
  }
}

button {
  padding-top: 4px;
  padding-bottom: 4px;
  background: rgba(89, 89, 89, 0.05);
  box-shadow: 0px 1px 9px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  overflow: hidden;
  border: 0.5px rgba(0, 0, 0, 0.2) solid;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
  cursor: pointer;
}

.stars-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  #starsCanvas {
    width: 100%;
    height: 100%;
  }
}

.navbar {
  display: flex;
  margin-right: 3%;
  justify-content: flex-start;
  margin-top: 5px;
  p {
    margin-left: 10px;
    padding: 5px;
    background-color: red;
    border-radius: 5px;
    box-shadow: 0px 1px 9px 5px rgba(0, 0, 0, 0.25);
  }
  .navbar-left {
    display: flex;
    margin-left: 2%;
  }
  .navbar-right {
    display: flex;
    margin-left: auto;
    gap: 2vh;
  }
  .icon {
    height: 50px;
    width: 50px;
  }
  a {
    color: #c1c1c1;
    font-size: 25px;
    text-decoration: none;
    background: linear-gradient(to top, #c1c1c1 0%, white 4px, transparent 5px)
      no-repeat;
    background-size: 0 100%;
    transition: background-size 0.3s;
    animation: shine 2s linear infinite reverse;
    &:hover {
      animation: none;
      color: white;
      background-size: 100% 100%;
      transition: 0.3s;
    }
  }
}

.mainContent {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .social {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 25px;
    left: 0;
    gap: 15px;
    margin-left: 10px;

    a {
      height: 50px;
      width: 50px;
    }

    svg {
      height: 50px;
      width: 50px;
      transition: 0.3s ease-in-out;
    }

    .moveIcon {
      height: 60px;
      width: 60px;
      transition: 0.3s ease-in-out;
      margin-left: 15px;
    }
  }
}

// Reponsive design start here

//Responsive for large screen
@media screen and (max-width: 1320px) and (min-width: 992px) {
  button {
    box-shadow: 0px 1px 9px 5px rgba(0, 0, 0, 0.25);
    border: 0.5px rgba(255, 255, 255, 0.2) solid;
  }
  .navbar {
    p {
      font-size: medium;
      max-width: 70vh;
    }
  }
}

// Responsive for medium screen
@media screen and (max-width: 992px) and (min-width: 680px) {
  button {
    box-shadow: 0px 1px 9px 5px rgba(0, 0, 0, 0.25);
    border: 0.5px rgba(255, 255, 255, 0.2) solid;
  }
  .navbar {
    p {
      position: absolute;
      font-size: medium;
      max-width: 85vh;
      top: 6vh;
    }
  }
  .mainContent {
    .social {
      flex-direction: row;
    }
  }
}

// Responsive for small screen

@media screen and (max-width: 679px) {
  button {
    box-shadow: 0px 1px 9px 5px rgba(0, 0, 0, 0.25);
    border: 0.5px rgba(255, 255, 255, 0.4) solid;
  }
  .navbar {
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    p {
      display: none;
    }
    .navbar-left {
      display: none;
    }
    .icon {
      display: none;
    }
    .navbar-right {
      display: flex;
      flex-direction: column;
      flex: 1;
      a {
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 4px;
        padding-right: 4px;
        background: rgba(89, 89, 89, 0.05);
        box-shadow: 0px 1px 9px 5px rgba(0, 0, 0, 0.25);
        border: 0.5px rgba(255, 255, 255, 0.2) solid;
        justify-content: center;
        display: inline-flex;
        padding: 5px;
        font-size: 25px;
        border-radius: 10px;
      }
    }
  }

  .mainContent {
    .social {
      flex-direction: row;
    }
  }
  .social {
    svg {
      fill: white;
      box-shadow: 0px 1px 9px 5px rgba(0, 0, 0, 0.25);
      border: 0.5px rgba(255, 255, 255, 0.2) solid;
      border-radius: 50%;
      height: 50px;
      width: 50px;
      transition: 0.3s ease-in-out;
    }
  }
}
