@import "../styles/_globalStyle.scss";

.mainContent {
  .centerTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25vh;
    h1 {
      font-size: 10rem;
      line-height: 0rem;
    }
    p {
      font-size: 2rem;
      line-height: 1.5rem;
      margin-left: 35vh;
      margin-top: 0;
    }
    button {
      padding-left: 5%;
      padding-right: 5%;
      background: get-color(bg-card);
      box-shadow: get-decoration(shadow-box);
      border-radius: 10px;
      overflow: hidden;
      border: get-decoration(border);
      color: white;
      font-size: 35px;
      animation: floatAndPulseButton 4s ease-in-out infinite;
    }
  }
}

.presentation {
  display: none;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 100vh;
  left: 50%;
  transform: translate(-50%, 0);
  .boxPresentation {
    position: relative;
    margin-bottom: 10vh;
    text-align: justify;
    padding: 5vh;
    border-radius: 5px;
    background: get-color(bg-dark);
    box-shadow: get-decoration(shadow-box);
    border: get-decoration(border);
    .presentationText {
      margin-bottom: 5vh;
    }
    .buttonContainer {
      position: relative;
      justify-content: center;
      bottom: 10px;
      display: flex;
      left: 50%;
      transform: translateX(-50%);
      gap: 15%;
      button {
        height: 60px;
        width: 350px;
      }
    }
  }
}

// Reponsive design

// Responsive for medium screen
@media screen and (max-width: 992px) and (min-width: 680px) {
  button {
    box-shadow: get-decoration(shadow-box);
    border: get-decoration(border);
  }
  .navbar {
    p {
      position: absolute;
      font-size: medium;
      max-width: 85vh;
      top: 6vh;
    }
  }
  .mainContent {
    .centerTitle {
      h1 {
        font-size: 8rem;
        line-height: 0rem;
      }
      p {
        font-size: 2rem;
        line-height: 1.5rem;
        margin-left: 0;
        margin-top: 0;
      }
      button {
        box-shadow: 0px 1px 9px 5px rgba(0, 0, 0, 0.25);
        border: 0.5px rgba(255, 255, 255, 0.4) solid;
      }
    }
    .presentation {
      z-index: 1;
      top: 110%;
      .boxPresentation {
        width: 80vw;
      }
      .presentationText {
        margin-bottom: 0;
      }
      .buttonContainer {
        flex-direction: column;
      }
      button {
        margin-top: 10%;
        max-width: 280px;
      }
    }
  }
}

// Responsive for small screen

@media screen and (max-width: 679px) {
  .mainContent {
    .centerTitle {
      margin-top: 35%;
      h1 {
        font-size: 7rem;
        line-height: 0rem;
      }
      p {
        font-size: 1.5rem;
        line-height: 1.5rem;
        margin-left: 0;
        margin-top: 0;
      }
    }
  }
  .presentation {
    top: 110%;
    .boxPresentation {
      max-width: 85vw;
    }
    .presentationText {
      margin-bottom: 0;
    }
    .buttonContainer {
      flex-direction: column;
    }
    button {
      margin-top: 10%;
      max-width: 280px;
    }
  }
}
