@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap");
@keyframes shine {
  0% {
    color: #c1c1c1;
  }
  50% {
    color: white;
  }
  100% {
    color: #c1c1c1;
  }
}
@keyframes floatAndPulseButton {
  0% {
    transform: scale(1);
    box-shadow: 0px 1px 9px 5px rgba(0, 0, 0, 0.25);
  }
  50% {
    transform: scale(1.02);
    box-shadow: 0px 1px 9px 5px rgba(0, 0, 0, 0.5);
  }
  100% {
    transform: scale(1);
    box-shadow: 0px 1px 9px 5px rgba(0, 0, 0, 0.25);
  }
}
@keyframes floatAnimation {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(7px);
  }
  100% {
    transform: translateX(15px);
  }
}
* {
  font-family: "Jost", sans-serif;
  color: rgb(193, 193, 193);
}
* html,
* body {
  background-color: rgb(25, 25, 25);
  margin: 0;
}

button {
  padding-top: 4px;
  padding-bottom: 4px;
  background: rgb(89, 89, 89);
  box-shadow: 0px 1px 9px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  overflow: hidden;
  border: 0.5px rgba(0, 0, 0, 0.2) solid;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  cursor: pointer;
}

.stars-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: -1;
}
.stars-container #starsCanvas {
  width: 100vw;
  height: 100%;
}

.navbar {
  display: flex;
  margin: 1vw 3vw 0 2vw;
  justify-content: flex-start;
}
.navbar p {
  margin-left: 10px;
  padding: 5px;
  background-color: red;
  border-radius: 5px;
  box-shadow: 0px 1px 9px 5px rgba(0, 0, 0, 0.25);
}
.navbar .navbar-left {
  display: flex;
}
.navbar .navbar-right {
  display: flex;
  margin-left: auto;
  gap: 3vw;
}
.navbar .icon {
  height: 50px;
  width: 50px;
  box-shadow: 0px 1px 9px 5px rgba(0, 0, 0, 0.25);
}
.navbar a {
  color: rgb(255, 255, 255);
  font-size: 25px;
  text-decoration: none;
  background: linear-gradient(to top, rgb(255, 255, 255) 0%, rgb(193, 193, 193) 4px, transparent 5px) no-repeat;
  background-size: 0 65%;
  transition: background-size 0.3s;
  animation: shine 2s linear infinite reverse;
}
.navbar a:hover {
  animation: none;
  color: white;
  background-size: 100% 65%;
  transition: 0.3s;
}

.mainContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mainContent .social {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 25px;
  left: 0;
  gap: 15px;
  margin-left: 10px;
}
.mainContent .social a {
  height: 50px;
  width: 50px;
}
.mainContent .social svg {
  fill: rgb(255, 255, 255);
  height: 50px;
  width: 50px;
  transition: 0.3s ease-in-out;
}
.mainContent .social .moveIcon {
  height: 60px;
  width: 60px;
  transition: 0.3s ease-in-out;
  margin-left: 15px;
}

@media screen and (max-width: 1320px) and (min-width: 992px) {
  button {
    box-shadow: 0px 1px 9px 5px rgba(0, 0, 0, 0.25);
    border: 0.5px rgba(0, 0, 0, 0.2) solid;
  }
  .navbar p {
    font-size: medium;
    max-width: 55vw;
  }
  .social {
    position: absolute;
    right: 10px;
    bottom: 20px;
  }
}
@media screen and (max-width: 992px) and (min-width: 680px) {
  button {
    box-shadow: 0px 1px 9px 5px rgba(0, 0, 0, 0.25);
    border: 0.5px rgba(0, 0, 0, 0.2) solid;
  }
  .navbar p {
    position: absolute;
    font-size: medium;
    max-width: 85vh;
    top: 6vh;
  }
  .mainContent .social {
    flex-direction: row;
  }
}
@media screen and (max-width: 679px) {
  button {
    box-shadow: 0px 1px 9px 5px rgba(0, 0, 0, 0.25);
    border: 0.5px rgba(0, 0, 0, 0.2) solid;
  }
  .navbar {
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
  }
  .navbar p {
    display: none;
  }
  .navbar .navbar-left {
    display: none;
  }
  .navbar .icon {
    display: none;
  }
  .navbar .navbar-right {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  .navbar .navbar-right a {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    background: rgba(89, 89, 89, 0.05);
    box-shadow: 0px 1px 9px 5px rgba(0, 0, 0, 0.25);
    border: 0.5px rgba(0, 0, 0, 0.2) solid;
    justify-content: center;
    display: inline-flex;
    padding: 5px;
    font-size: 25px;
    border-radius: 10px;
  }
  .mainContent .social {
    flex-direction: row;
    position: absolute;
    right: 10px;
    bottom: 0;
  }
  .social svg {
    fill: white;
    box-shadow: 0px 1px 9px 5px rgba(0, 0, 0, 0.25);
    border: 0.5px rgba(0, 0, 0, 0.2) solid;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    transition: 0.3s ease-in-out;
  }
}
.mainContent {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mainContent .centerTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mainContent .centerTitle svg {
  stroke: #595959;
  stroke-width: 0;
  animation: floatAndPulse 4s ease-in-out infinite;
  height: 430px;
  width: 440px;
}
.mainContent .centerTitle button {
  padding-left: 5%;
  padding-right: 5%;
  background: #1f2022;
  box-shadow: 0px 1px 9px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  overflow: hidden;
  border: 0.5px rgba(0, 0, 0, 0.2) solid;
  color: white;
  font-size: 35px;
  animation: floatAndPulseButton 4s ease-in-out infinite;
}

.presentation {
  display: none;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 1100px;
  left: 50%;
  transform: translate(-50%, 0);
}
.presentation .presentationText {
  position: relative;
  height: 550px;
  width: 750px;
  margin-bottom: 10vh;
  text-align: justify;
  padding: 20px;
  border-radius: 5px;
  background: linear-gradient(180deg, rgba(73, 73, 73, 0.05) 0%, rgba(89, 89, 89, 0) 100%);
  box-shadow: 0px 0px 25px 6px rgba(0, 0, 0, 0.5);
  border: 0.5px rgba(0, 0, 0, 0.2) solid;
}
.presentation .presentationText .buttonContainer {
  position: absolute;
  justify-content: center;
  bottom: 10px;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
  gap: 35px;
}
.presentation .presentationText .buttonContainer button {
  height: 60px;
  width: 350px;
}

@media screen and (max-width: 679px) {
  .mainContent .centerTitle {
    max-height: 330px;
  }
  .mainContent .centerTitle button {
    box-shadow: 0px 1px 9px 5px rgba(0, 0, 0, 0.25);
    border: 0.5px rgba(255, 255, 255, 0.4) solid;
  }
  .presentation .presentationText {
    max-width: 300px;
    height: 915px;
  }
  .presentation .buttonContainer {
    flex-direction: column;
  }
  .presentation button {
    max-width: 280px;
  }
}/*# sourceMappingURL=homepage.css.map */