@import "../styles/_globalStyle.scss";

.inProgress {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  border: get-decoration(border);
  padding: 15px;
  background: get-colors(bg-dark);
  box-shadow: get-decoration(shadow-box);
}
